@import "tailwindcss";
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.route-line {
  animation: dashMove 3s linear infinite;
}
.route-line-slow {
  animation-duration: 5s;
}

@keyframes dashMove {
  to { stroke-dashoffset: -100; }
}
